<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>
<mat-card class="float-left margin10 filtro-listagem" >
  <form autocomplete="off" novalidate [formGroup]="filtroFormGroup">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text
          ngDefaultControl
          title="Pesquisar..." 
          formControlName="text" 
          [formGroup]="filtroFormGroup"></dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-select
          ngDefaultControl
          formControlName="genre"
          title="Gênero"
          [selects]="selects" 
          [formGroup]="filtroFormGroup"></dio-input-select>
      </div>
    </div>
  </form>
</mat-card>
<div class="home-content" infiniteScroll (scrolled)="onScroll()">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{movie.title}}</mat-card-title>
      <mat-card-subtitle>{{movie.genre}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.urlPhoto" [alt]="movie.title">
    <mat-card-content>
      <p>
        {{movie.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>ABRIR</button>
    </mat-card-actions>
  </mat-card>
</div>
